@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.swiper-pagination {
    text-align: left !important;
    margin-bottom: 30px;
    padding-left: 50px;
}

.swiper-pagination > span {
    width: 50px;
    height: 6px;
    border-radius: 50px;
}

@media screen and (max-width: 992px) {
    .swiper-pagination {
        text-align: center !important;
        margin-bottom: 5px;
    }
}

.Card {
    transition: all 0.5s ease-in-out;
}

.sub_card {
    margin-top: 0;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sub_button {
    bottom: 0;
    margin-bottom: -86px;
    transition: all 0.5s ease;
}

.Card:hover img {
    transform: scale(1.2);
}

.Card:hover .sub_button {
    display: block;
}

.Card:hover .sub_card {
    margin-top: -86px;
}

.Card:hover .sub_button {
    margin-bottom: 0;
}

.leffect:hover .light::before {
    left: 180%;
    opacity: 0;
}

.leffect:hover .light::after {
    left: -50%;
    opacity: 0;
}

.light::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    height: 200%;
    position: absolute;
    top: -50%;
    left: -100%;
    transform: rotate(35deg);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 80px;
    z-index: 1;
}

.light::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    height: 200%;
    position: absolute;
    top: -50%;
    left: 180%;
    transform: rotate(35deg);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 80px;
    z-index: 1;
}
